<div class="container">
      <div class="description title my-3">
        <h1>Service <%= @service.name.capitalize %></h1>
      </div>

    <div id="accordion" class="accordion">
    <%# div card Numéro Important  %>
        <div class="card mb-3" style="border-radius: 10px">
          <button class="card_service_day collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h1>Numéros importants</h1>
          </button>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
             <%= @service.phone_number %>
            </div>
          </div>
        </div>

    <%# div card Journée type  %>
        <div class="card mb-3" style="border-radius: 10px">
          <button class="card_service_day collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1> Journée type </h1>
          </button>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <%= @service.typical_workday %>
            </div>
          </div>
        </div>

    <%# div card Pathologies prévalentes  %>
        <div class="card mb-3" style="border-radius: 10px">
          <button class="card_service_day collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h1> Pathologies prévalentes</h1>
          </button>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <%= @service.predominant_disease %>
            </div>
          </div>
        </div>

    <%# div card Medicaments prévalents  %>
        <div class="card mb-3" style="border-radius: 10px">
          <button class="card_service_day collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h1> Médicaments prévalents</h1>
          </button>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
            <%= @service.predominant_drugs %>
            </div>
          </div>
        </div>
    </div>
</div>
