<div class="container">
  <% render html: 'navbar' %>
  <div class="show-package">
    <h2 class="greetings">Salut <%= @user.first_name %> !</h2>
  </div>
  <%= link_to "Dispo", "/avaibilities/index",  class: "avaibility_home_btn"
  %>
  <%= link_to "Mission en cours", "", class: "home-btns home-btns-a" %>
  <%= link_to "Mes missions", "", class: "home-btns home-btns-b" %>
  <%= link_to "Missions disponibles", "", class: "home-btns home-btns-c" %>
  <%= link_to "Mon historique", "", class: "home-btns home-btns-d" %>


</div>
