<div class="container">
  <% render html: 'navbar' %>

  <%= link_to "Dispo", availabilities_path,  class: "availabilities_home_btn"  %>
  <%= link_to "Mission en cours", "", class: "home-btns home-btns-a" %>
  <%= link_to "Mes missions", "", class: "home-btns home-btns-b" %>
  <%= link_to "Missions disponibles", "missions", class: "home-btns home-btns-c" %>
  <%= link_to "Mon historique", "", class: "home-btns home-btns-d" %>


</div>
