<div class="container">
  <h1>Service <%= @service.name %></h1>
  <% @toxics.each do |toxic| %>
    <div class="toxic-card">
      <div class="toxic-name" data-toxicName="<%= toxic.name %>">
        <%= toxic.name %>
        <div class="toxic-tq">
          <i>stock max: <%= toxic.total_quantity %></i>
        </div>
      </div>
      <div id="toxics_partial<%= toxic.id %>">
        <%= render partial: "toxics_btn", locals: {toxic: toxic, last_withdraw_id: @last_withdraw_id} %>
      </div>
    </div>
  <% end %>
</div>
