<div class="container">
  <h1>Service <%= @service.name %></h1>
  <%= link_to "Scan", new_scan_path, class: "scan-btn", data: {turbolinks: false}%>
  <% @toxics.each do |toxic| %>
    <div class="toxic-card">
      <div class="toxic-name" data-toxicName="<%= toxic.name %>">
        <%= toxic.name %>
        <div class="toxic-tq">
          <i>stock max: <%= toxic.total_quantity %></i>
        </div>
      </div>
      <div id="toxics_partial<%= toxic.id %>">
        <%= render partial: "toxics_btn", locals: {toxic: toxic} %>
      </div>
      <div class="withdraw-btns">
        <div class="minus-btn" data-id="<%= toxic.id %>" data-quantity="<%= toxic.current_quantity%>" data-withdrawId="<%= current_user.last_withdraw_for(toxic)&.id %>" data-operator="minus">
            <%= image_tag "minus_sign.png", width: "50px"%>
        </div>
        <div class="minus-btn" data-id="<%= toxic.id %>" data-quantity="<%= toxic.current_quantity%>" data-withdrawId="<%= current_user.last_withdraw_for(toxic)&.id %>" data-operator="plus">
            <%= image_tag "plus_sign.png", width: "50px"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
