<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "navbar-logo"%>
    <% end %>
      <% if user_signed_in? %>
        <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
          <%= image_tag "mathilde.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Connection", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
