<script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>
<div id="scandit-barcode-picker"></div>

<div class="d-none">
<%= simple_form_for :scan, url: scans_path, method: :post do |f| %>
    <%= f.input :barcode %>
    <%= f.submit  %>
  <% end %>
</div>
<%= puts "#{@service}" %>
<% unless current_user.bookings.empty? %>
  <%= link_to "retour", service_toxics_path(@service.id), class: "confirmation-scan-btn" %>
<% end %>
