<%= image_tag "mesmissions.png", class:"img_bg"%>
<div class="container">
  <h3>Missions disponibles</h3>
  <div class="booking">
    <% @missions.each do |mission| %>
      <div class= "blog-booking" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div class="meta">
          <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        </div>
        <div class="booking_card">
          <h1><%= mission.date %></h1>
          <h2>service <%= mission.service.name %></h2>
        </div>
      </div>
        <div class="collapse" id="collapseExample <%= mission.id%>" style = "margin-top: -10px">
          <div class="card card-body">
                <%= mission.description  %>
                <%= link_to mission_bookings_path(mission), class: "btn_confirm", method: :post do %>
                <h4>Postuler</h4>
                <% end %>

          </div>
        </div>
      <% end %>
    </div>
</div>
